#header {
    position: sticky;
    top: 0;
    z-index: 2;
}

.trip-card{
    float: left;
    width: 250px;
    border: 1px solid black;
    margin: 5px 5px;
    padding: 5px 5px 5px 10px;
    width: 250px;
    height: 250px;
    background-image: url("test.png");
    mix-blend-mode: luminosity;
    opacity: 0.3;
    background-size: 250px 250px;
}

.trip-card:hover{
    transform: translateY(-0.75px);
    box-shadow: 4px 6px 15px -1px rgba(0,0,0,0.15);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    mix-blend-mode: unset;
}

.trip-card:active{
    transform: translateY(-1px);
    box-shadow: 4px 6px 8px -1px rgba(0,0,0,0.65);
    opacity: 0.8;
}

#trip-container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: whitesmoke;
}